.explore {
  width: 100%;
  background-color: $color-btn;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
  height: 393px;

  @include media(768px) {
    height: 696px;
    margin-top: 64px;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 130px;
    margin-top: 72px;

    @include media(768px) {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 178px;
    }
  }
  &__title {
    h5 {
      width: 100%;
      max-width: 589px;
      @include font("dm sans", 42px, 600);

      @include media(768px) {
        width: 100%;
        max-width: 300px;
        text-align: center;
        @include font("dm sans", 28px, 600);
      }
    }
    p {
      width: 100%;
      max-width: 496px;
      @include font("dm sans", 18px, 200);
      margin-bottom: 30px;

      @include media(768px) {
        margin-top: 10px;
        width: 100%;
        max-width: 310px;
        text-align: center;
        @include font("dm sans", 16px, 200);
      }
    }

    @include media(768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__link a {
    padding: 14px 21px;
    background-color: #fff;
    color: $color-btn;
    border-radius: 80px;

    @include font("dm sans", 14px, 600);
    @include media(768px) {
      display: block;
      width: 100%;
      padding: 22px 15vw;
      margin: 0 auto;
      @include font("dm sans", 14px, 600);
    }
  }
  &__img {
    margin-bottom: 60px;
    width: 100%;
    max-width: 540px;

    @include media(768px) {
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      max-width: 380px;
    }
  }
}
