*,
*,
::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}
a,
button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  color: $color-text;
  font-family: "dm sans", sans-serif;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}

ol,
ul,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
